html {
    background: white;
    height: 100%;
}

body {
    background: white;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas {
    background-image: url("img/seth.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    width: 80px;
    height: 101px;
    margin: 20px;
    margin-top: 160px;
    position: relative;
    transition: .25s;
}

.squish {
    background-size: 100% 70% !important;
	width: 90px !important;
}

#button {
    height: 35px;
    width: 150px;
    border-radius: 20px;
	margin: 18px 38px 0px 18px;
}

#count {
	margin-right:20px;
	margin-top:50px;
}

#button:hover {
    cursor: pointer;
}

